<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{artifactName}}
            <span class="text-muted" style="font-size: 65%">
                {{stats.start | date:'d MMM, yyyy'}}
            </span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-3 text-center">
            <span class="huge">{{timeDiff | secondsToTime}}</span>
            <br>
            runtime
        </div>
        <div class="col-xs-3 text-center">
            <span class="huge">{{stats.count}}</span>
            <br>
            tests run
        </div>
        <div class="col-xs-3 text-center">
            <span class="huge text-danger">{{stats.failures.length}}</span>
            <br>
            failed
        </div>
        <div class="col-xs-3 text-center">
            <span class="huge text-primary">{{stats.skips.length}}</span>
            <br>
            skipped
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="btn-group pull-right">
            <a type="button"
               class="btn btn-default"
               ui-sref="timeline({artifactName: artifactName})">Details</a>
       </div>
    </div>
</div>
