<div class="test-details-search-popover">

    <label>Filter pythonlogging by log level:</label>
    <div class="status-group btn-group btn-group-justified">
        <label uib-btn-checkbox
               ng-model="search.showINFO"
               class="btn btn-default">INFO</label>
        <label uib-btn-checkbox
               ng-model="search.showDEBUG"
               class="btn btn-default">DEBUG</label>
        <label uib-btn-checkbox
               ng-model="search.showWARNING"
               class="btn btn-default">WARNING</label>
        <label uib-btn-checkbox
               ng-model="search.showERROR"
               class="btn btn-default">ERROR</label>
    </div>

</div>
