<div ng-if="!item" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Test Details</h3>
    </div>
    <div class="panel-body">
        <i>Select a test above for details.</i>
    </div>
</div>

<div ng-if="!!item"
     class="panel"
     ng-class="item | contextClass:'panel'">
    <div class="panel-heading">
        <h3 class="panel-title">
            Details: {{item.name | split:'.' | pickRight:1}}
            <span class="label label-{{item | contextClass}}">
                {{item.status}}
            </span>
        </h3>
    </div>
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <td>Class</td>
            <td>{{item.name | split:'.' | pickRight:2}}</td>
        <tr>
            <td>Module</td>
            <td>{{item.name | split:'.' | slice:0:-2 | join:'.'}}</td>
        </tr>
        <tr>
            <td>Tags</td>
            <td>{{item.tags | join:', '}}</td>
        </tr>
        <tr>
            <td>Duration</td>
            <td>{{item.duration | number:1}} seconds</td>
        </tr>
        <tr>
            <td>Start</td>
            <td>{{item.startDate | date:'medium'}}</td>
        </tr>
        <tr>
            <td>End</td>
            <td>{{item.endDate | date:'medium'}}</td>
        </tr>
    </table>
    <div class="panel-footer clearfix">
        <div class="btn-group pull-right">
            <a type="button"
               class="btn btn-default">Details</a>
       </div>
    </div>
</div>
