<header class="bs-header">
    <div class="container">
        <h1 class="page-header">
            Console: {{ console.artifactName }}
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li>
                <a ui-sref="home({artifactName: console.artifactName})">
                    {{ console.artifactName }}
                </a>
            </li>
            <li class="active">Console</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <codemirror-console data="console.data"
                                show="console.show"></codemirror-console>
        </div>
    </div>
</div>
