
<header class="bs-header">
    <div class="container">
        <h1 class="page-header">Datasets</h1>
    </div>
</header>

<div class="container">
    <div class="row" ng-if="!home.groups.length">
        <div class="col-lg-12">
            <div class="alert alert-danger">
                No tempest datasets could be loaded!
            </div>
        </div>
    </div>
    <div class="row" ng-if="!!home.groups.length">
        <div class="col-lg-8">
            <tempest-summary ng-if="home.groups.length >= 1"
                             artifact-name="home.focus"
                             index="home.focus"></tempest-summary>
        </div>
        <div class="col-lg-4" ng-if="home.datasets.length > 1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Additional Datasets</h3>
                </div>

                <ul class="list-group">
                    <li class="list-group-item"
                        ng-repeat="group in home.groups"
                        ng-if="group != home.focus"
                        ng-click="home.focus = group"
                        style="cursor: pointer">
                        {{ group }}

                        <!--<small class="text-muted" style="font-size: 75%">
                            {{dataset.stats.start | date:'MM/d/yyyy'}}
                        </small>-->

                        <a class="btn btn-default btn-xs pull-right"
                           ui-sref="timeline({artifactName: group})">
                            Details
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
