<ul class="nav navbar-top-links navbar-right">
    <li>
        <a ui-sref="home"><fa name="pie-chart" fw></fa> Overview</a>
    </li>
    <li dropdown>
        <a href dropdown-toggle>
            <fa name="bar-chart-o" fw></fa> Tempest <fa name="caret-down"></fa>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a ui-sref="timeline({datasetId: 0})">
                    <fa name="calendar" fw></fa> Timeline
                </a>
            </li>
        </ul>
    </li>
</ul>
