<header class="bs-header">
    <div class="container">
        <h1 class="page-header">
            Timeline: {{ timeline.artifactName }}
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li>
                <a ui-sref="home({artifactName: timeline.artifactName})">
                    {{ timeline.artifactName }}
                </a>
            </li>
            <li class="active">Timeline</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger" ng-if="!!timeline.error">
                {{ timeline.error }}
            </div>
        </div>
    </div>
    <div class="row" ng-if="!timeline.error">
        <div class="col-lg-12">
            <timeline artifact-name="timeline.artifactName"
                      hovered-item="timeline.hoveredItem"
                      selected-item="timeline.selectedItem"
                      preselect="timeline.preselect"></timeline>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a name="details"></a>
            <timeline-details artifact-name="timeline.artifactName"
                              item="timeline.selectedItem"></timeline-details>
        </div>
    </div>
</div>
